/********************************
**** Add photo modal specifics ****
*********************************/
.addPhoto__form {
  flex: 1;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.addPhoto__label {
  font-weight: 600;
}

.addPhoto__input {
  box-sizing: border-box;
  margin-top: 0.6rem;
  width: 100%;
  background-color: white;
  padding: 0.8em 0.4em;
  border: none;
  filter: drop-shadow(0 0 0.5rem #1d61541a);
}

/*** PHOTO INPUT SECTION: "placeholder" vs preview-file(with changeFile button)***/
.addPhoto__img-placeholder-container,
.addPhoto__img-preview-container {
  background-color: #e8f1f6;
  box-sizing: border-box;
  width: 100%;
  height: 45%;
  flex-shrink: 1;
  overflow: hidden;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.photoPlaceholder-icon {
  height: 40%;
  font-size: 6rem;
  color: #b9c5cc;
}

.photoPreview-img {
  box-sizing: border-box;
  width: 45%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.photoPreview-fileName {
  width: 50%;
  flex-shrink: 0;
  color: #1d6154;
  font-size: 0.8rem;
  display: -webkit-box;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
